
body{
    margin:0px;
}
h1{
    font-size: 30px;
    text-align: center;
}


ol{
    font-size: 23px;
    text-align: center;
}

p{
    font-size: 25px;
    text-align: center;
}

*{
    background-color: #33FAFF;
}

a{
    text-align: center;
}


h3{
    text-align:center;
    font-size:25px;
}

.grid img{
    border: 2px solid #FF3367;
    border-radius:50px;
}

.origami{
    margin-left:800px;
    border-radius: 20px;
    width:310px;
    font-family:fantasy;
    padding: 5px;
}

.origami:hover{
    transform:scale(1.2);
}

.header{
    padding:20px;
}

a:link{
    color:white;
}

a:visited{
    color:grey;
}